.DS_Store
.classpath
.project
.settings/
.local.*
build
bin/emr
bin/ec2/setenv.sh
bin/ec2/support
target
build-eclipse
src/gen
build.sh
*.iml
*.dot
*.hprof
trash
private
junit*.properties
(related)
*flow-monitor.html
